<mat-checkbox (change)="Checked($event)" [checked]="isFilterChecked && (isFilterChecked | async)" ></mat-checkbox>

<div style="width: 25%;">
    <mat-select multiple (selectionChange)="multipleValuesTest($event)">
      <mat-option [value]="'Hydrogen'">Hydrogen</mat-option>
      <mat-option [value]="'Lithium'">Lithium</mat-option>
    </mat-select>
</div>

<tb-table-container [SaveState]='true' tableId='test-table-id-123' [tableBuilder]='tableBuilder' [inputFilters]='myFilter' [pageSize]="50"  (selection$)="selectionEvent($event)">

  <p *customCell="'testCell';let element = element;" [class.makeMeRed]="element?.name && element?.name[0] === 'H'" >Hi {{element.name}}!</p>

  <ng-container customCell='date' matColumnDef="date"   >
    <mat-footer-cell *matFooterCellDef  >
        date footer
    </mat-footer-cell>
</ng-container>

  <ng-container customCell="blue" matColumnDef="blue" >
      <mat-cell *matCellDef="let element = element;" [class.makeMeBlue]="element?.name && element?.name[0] === 'B'">
          Hi {{element?.name}} !
      </mat-cell>
  </ng-container>

  <ng-container customCell="green" matColumnDef="green"  >
      <mat-header-cell *matHeaderCellDef style="color: green;"  >Custom header</mat-header-cell>
      <mat-cell *matCellDef="let element = element;" [class.makeMeBlue]="element?.name && element?.name[0] === 'H'">
          F {{element?.name}} !
      </mat-cell>
  </ng-container>

</tb-table-container>

<button (click)='addItem()'>Add Gold</button>
<button (click)='emitFilter()'>Filter B</button>
<button (click)='clearFilter()'>clear filter</button>
