<mat-checkbox (change)="Checked($event)" [checked]="isFilterChecked && (isFilterChecked | async)" ></mat-checkbox>

<div style="width: 25%;">
    <mat-select multiple (selectionChange)="multipleValuesTest($event)">
      <mat-option [value]="'Hydrogen'">Hydrogen</mat-option>
      <mat-option [value]="'Lithium'">Lithium</mat-option>
    </mat-select>
</div>

<tb-table-container *ngIf='tableBuilder' (data)='emitter($event)' [SaveState]='true' tableId='test-table-id-123' [tableBuilder]='tableBuilder' [inputFilters]='myFilter' [pageSize]="50" [SelectionColumn]='true' (selection$)="selectionEvent($event)">

  <p *customCell="'testCell';let element = element;" [class.makeMeRed]="element?.name && element?.name[0] === 'H'" >Hi {{element.name}}!</p>

  <ng-container customCell='date' matColumnDef="date"   >
    <mat-footer-cell *matFooterCellDef="let styles=styles" [styler]="styles" >
        date footer {{(styles | json) + 'a'}}
    </mat-footer-cell>
  </ng-container>

  <ng-container customCell="blue" matColumnDef="blue">
        <mat-cell *matCellDef="let element = element;let styles = styles;" [class.makeMeBlue]="element?.name && element?.name[0] === 'B'" [styler]="styles">
            Hi {{element?.name}} !
        </mat-cell>
  </ng-container>

  <ng-container customCell="green" matColumnDef="green"  >
      <mat-header-cell *matHeaderCellDef="let styles=styles" style="color: green;" [styler]="styles" [resizeColumn]="true" [key]="'green'">Custom header</mat-header-cell >
      <mat-cell *matCellDef="let element = element;let styles=styles;" [class.makeMeBlue]="element?.name && element?.name[0] === 'H'" [styler]="styles">
          F {{element?.name}} !
      </mat-cell>
  </ng-container>
  <mat-row *matRowDef="let row; let even = even; when: runWhen" [ngClass]="{'deleted': row.deletedAt!=null}">
  </mat-row>
</tb-table-container>

<button (click)='addItem()'>Add Gold</button>
<button (click)='emitFilter()'>Filter B</button>
<button (click)='clearFilter()'>clear filter</button>

<ng-template #myTemplate let-element='element' let-metaData='metaData' >
  from template: {{element[metaData.key]}}
</ng-template>
