/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-header-cell{
  border-top: 1px solid rgba(0,0,0,.12)!important;
  border-right: 1px solid rgba(0,0,0,.12)!important;
}
.mat-header-cell, .mat-cell{
  padding-left: 12px!important;
}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
  padding-left: 24px!important;

}
.mat-header-row{
  min-height: 48px;
}


.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}